.sui-create-edit-panel .close {
    font-size: 25px;
    color: red;
}
.header .logo .image {
    width: 100%;
     max-height: 50px;
    opacity: .5;
}
.header .header-info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.header .store-name {
    margin: 10px 0;
    color: white;
}
.header .store-name a {
    text-decoration: none;
    color: white;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    border-radius: 3px;
}
.overlay .l-text {
    font-size: 24px;
    margin-top: 15px;
}
.tab-action-container .filter-form {
    display: inline-block;
}
.filter-form input {
    max-width: 100px;
    margin-right: -5px;
}
.cart-table .summary-row {
    font-weight: bold;
}
.summary-row.due-total {
    color: red;
}
.due-total.paid {
    color: green;
}
.date-picker {

}