/*.header .logo {
    background: url('/static/resources/system/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}*/
header {
    background-color: #003c5f;
}
header .dropdown-menu {
    font-size: 0.75rem;
}
.btn-warning, .btn-warning:hover, .btn-warning {
    color: #ffffff;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    border-radius: 3px;
}
.overlay .l-text {
    font-size: 24px;
    margin-top: 15px;
}
.sui-create-edit-panel .close {
    font-size: 25px;
    color: red;
}
.tab-action-container .filter-form {
    /* display: inline-block; */
}
.filter-form input {
    max-width: 100px;
    margin-right: -5px;
}
.cart-table .summary-row {
    font-weight: bold;
}
.summary-row.due-total {
    color: red;
}
.due-total.paid {
    color: green;
}
.date-picker {

}