/*.header .logo {
    background: url('/static/resources/system/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}*/
header {
    background-color: #003c5f;
}
header .dropdown-menu {
    font-size: 0.75rem;
}
header .nav-item:hover {
    color: #ffffff;
}
header .nav-item.current .nav-link {
    color: #ffc107 !important;
}
.layout-body {
    padding-bottom: 10px;
}
.btn-warning, .btn-warning:hover, .btn-warning {
    color: #ffffff;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    border-radius: 3px;
}
.overlay .l-text {
    font-size: 24px;
    margin-top: 15px;
}
.skui-create-edit-panel .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: red;
}
.filter-form input {
    max-width: 100px;
    border-radius: 0;
}
.filter-form .clear-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.cart-table .summary-row {
    font-weight: bold;
}
.summary-row.due-total {
    color: red;
}
.due-total.paid {
    color: green;
}
.card .row {
    margin: 0 0;
}
.panel-header .add-button {
    margin-left: 10px;
}
.panel-header {
    clear: both;
}
.panel-header .panel-title {
    float: left;
}
.panel-header .panel-options {
    float: right !important;
}
.cart-table .order-items input{
    width: 100%;
}