.page-content .tab-action-container {
    float: right;
}
.sui-create-edit-panel .close {
    font-size: 25px;
    color: red;
}
.search-form {
    display: inline-flex;
    padding-right: 5px;
}
.search-form input {
    max-width: 150px;
    margin-right: -5px;
}
.sui-tabular-content .page-title .tab-action-container {
    display: flex;
}
.sui-tabular-content .table-footer .right {
    float: right;
}